*, *::before, *::after{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background-image: linear-gradient(36.7deg, #9F9D9D 0%, #626161 51.35%, #161616 52.72%);
    height: 625px;
    padding-top: 45px;
}

.box{
    width: 450px;
    height: 550px;
    background: white;
    margin: auto;
    border-radius: 8px;
    padding: 15px 25px;
}

.text{
    color: rgb(11, 11, 153);
    text-align: center;
    margin-bottom: 10px;
}

.row{
 
    display: flex;
    flex-wrap: wrap;
}

.col-6{
    flex: 0 0 auto;
    width:50%;
}

.col-12{
    flex: 0 0 auto;
    width:100%;
}

.form-group{
    display: block;
    /* background: orange; */
}
.form-group label{
    margin-bottom: 3px;
    display: block;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
    color: #4b4a4a;
}
.form-group .form-control{
    height: 30px;
    padding: 18px;
    border: 1px solid #4b4a4a;
    border-radius: 5px;
    margin-bottom: 23px;
}
.red{
    /* background: red; */
    padding-left: 10px;
}

.form-group select{
    width: 100%;
    height: 37px;
    padding: 8px 25px;
    border: 1px solid #4b4a4a;
    border-radius: 5px;
    margin-bottom: 24px;
    color:#888686;

}

.form-group select option{
    display: block;
    white-space: nowrap;
    /* min-height: 5px;
    padding: 15px ; */
}

.form-group textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #4b4a4a;
    border-radius: 5px;
    margin-bottom: 20px;
    color:#888686;
}
.btn button{
    background: blue;
    border: none;
    padding: 8px;
    color: white;
    border-radius: 5px;;
    font-weight: bold;
    cursor: pointer;
}

.btn{
    text-align: right;
}

input[type=date]{
    width: 96%;
    padding: 8px;
    border: 1px solid #4b4a4a;
    border-radius: 5px; 
    margin-bottom: 20px;

}
input[type=file]{
    width: 100%;
    border: 1px solid #4b4a4a;
    padding: 8px;
    border-radius: 5px; 

}