*, *::before, *::after{
     box-sizing: border-box;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background:linear-gradient(103.49deg, #27D2B4 12.81%, #B3E474 78.35%, #B3E474 78.35%);
    text-align: center;
    color: antiquewhite;
}

.calculator{
   
   background: rgb(168, 165, 165);
    height: 400px;
    width: 350px;
    margin: auto;
    margin-top: 50px;
    border-radius: 7px;
}
.output{
    background: rgb(59, 58, 58);
    height: 100px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-ans{
    font-size: 18px;
    color: rgb(255, 255, 255, .75);
}

.output .current-ans{
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.calculator >table{
    width: 100%;
    text-align: center;
    height: 300px;
    border-collapse: collapse;
  
}

button{
    font-size: 20px;
    width: 60px;
    text-align: center;
    border-radius: 7px;
    border: none;
    background: #27D2B4;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background: aliceblue;
    color: #27D2B4;
}